<div class="col-lg-12 col-sm-12 col-xs-12">

	<h1 class="row-title before-yellow">
		<i class="fa fa-th-list yellow"></i>
		Listado de Pedidos 
	</h1>	

	<div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12">
			<div class="bordered-well-container">
				<div class="well bordered-top bordered-warning">
					<div class="clearfix" style="padding: 0">
						<button class="btn btn-default btn-md margin-bottom-20 clearfix" 
								ng-click="nuevoRegistro()">
							<i class="fa fa-plus-circle"></i> Agregar nuevo registro
						</button>
					</div>
					<div ng-show="listItems.length>0" class="table-scrollable">
						<table class="table table-striped">
							<thead>
								<th style="width: 150px !important">No Pedido</th>
								<!-- <th>Descripci&oacute;n</th> -->
								<th style="width: 300px !important">Cliente</th>
								<th style="width: 200px !important">Fecha Pedido</th>
								<th style="width: 200px !important">Estado Pedido</th>
								<th style="width: 150px !important">Acciones</th>
							</thead>
							<tbody>
								<tr ng-repeat="item in listItems.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
									<td>{{item.id}}</td>
									<td>{{item.Cliente.nombre}} {{item.Cliente.apellido}}</td>
									<td>{{item.fechaReservacion}}</td>
									<td>
										<estado-pedido estado="item.estadoPedido.descripcion">
										</estado-pedido>
										{{item.estadoPedido.descripcion}}
									</td>	
									<td>
										<button class="btn btn-info"
											    ng-click="verDetallePedido(item)">
											<i class="fa fa-eye"></i> Ver
										</button>										
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row margin-top-5">
							<div class="col-lg-6 col-sm-6 col-xs-6">
								Ver <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
									<option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option>
								</select> registros por p&aacute;gina.
							</div>
							<div class="col-lg-6 col-sm-6 col-xs-6 text-align-right margin-top-5">
								Total de Registros: {{totalItems}} 
							</div>
						</div>

	    				<pagination total-items="totalItems" ng-model="currentPage" 
	    							class="pagination-sm" 
	    							items-per-page="itemsPerPage">
	    				</pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="crudForm.html">
	<div class="modal-header">
	  <h3 class="modal-title blue"></i>Detalle del Pedido #{{pedido}}</h3>
	</div>
	<div class="modal-body">
		<form role="form">
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">				
					<div ng-show="listItemsDetalle.length>0" class="table-scrollable">
						<table class="table table-striped">
							<thead>
								<th style="width: 200px !important">Tractor</th>
								<!-- <th>Descripci&oacute;n</th> -->
								<th style="width: 150px !important">Hor&oacute;metro</th>
								<th style="width: 150px !important">Fecha despacho</th>
								<th style="width: 150px !important">Fecha regreso</th>

								<th style="width: 150px !important">
									Tipo alquiler
								</th>
								<th style="width: 150px !important">
									Horas
								</th>

								<th style="width: 150px !important">
									Sub Total 
								</th>								
							</thead>
							<tbody>
								<tr ng-repeat="item in listItemsDetalle">
									<td>
										{{item.modelo}}
									</td>
									<!-- <td>{{item.descripcion}}</td> -->
									<td>{{item.horometro}}</td>
									<td>{{item.fechaSale}}</td>
									<td>{{item.fechaRegresa}}</td>
									
									<td >
										{{item.tipoAlquiler.descripcion}}
									</td>
									<td>
										{{item.horasAlquiler}}
									</td>
									<td>
										{{item.subTotal | currency: moneda }}
									</td>								
								</tr>								
			                    <tr>
			                        <td colspan="5" class="invisible bg-snow"></td>
			                        <td class="text-center"><strong>Total</strong></td>
			                        <td class="text-center ">
			                        	<strong>{{totalPedido | currency: moneda</strong>
			                        </td>
			                    </tr>
							</tbody>
						</table>
					</div>
				</div>				
		  	</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-blue" ng-click="postRegistro()">
			<i class="fa fa-floppy-o"></i> {{textButton}}
		</button>
	  	<button class="btn btn-danger" ng-click="cancel($event)">
	  		<i class="fa fa-times"></i>Cancelar
	  	</button>
	</div>
</script>

<script type="text/ng-template" id="deleteRegistro.html">
	<div class="modal-header">
	  <h3 class="modal-title blue"></i>Eliminar Registro</h3>
	</div>
	<div class="modal-body">
	<form role="form">
		<div class="form-group">
			<h3 class="text-info">
				¿Seguro que desea eliminar este registro? - <strong> {{registro.nombre}} </strong>
			</h3>
		</div>
	</form>
	<alert type="danger" class="radius-bordered alert-shadowed" ng-show="formError">
	    {{formError}}
	</alert>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="deleteRegistro()">
			<i class="fa fa-trash"></i> Eliminar
		</button>
	  	<button class="btn btn-danger" ng-click="cancel()">
	  		<i class="fa fa-times"></i>Cancelar
	  	</button>
	</div>
</script>
