<!DOCTYPE html>
<html lang="es" class="no-js">
  <head>
    <title>Probns Guatemala</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/weather-icons.min.css" rel="stylesheet">
    <link id="beyond-link" href="assets/css/beyond.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body><!--[if lt IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p><![endif]-->
    <header class="main-header">
      <div class="container__div"><a href="/" class="logo">Probns</a>
        <div class="search__form">
          <input placeholder="Búsqueda" type="text" class="search__input">
          <input type="submit" value="Buscar" class="search__btn">
          <button class="search__location">Ubicación</button>
        </div>
        <div class="top-menu">
          <div class="container__div">
            <ul>
              <li><img src="img/avatar.jpg" alt="Bienes Raices" class="top-menu__avatar"><a id="dropdownMenu1" href="#" data-toggle="dropdown" class="dropdown-toggle"> Bienes Raices <i class="fa fa-caret-down"></i></a>
                <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
                  <li><a href="#">Mi perfil</a></li>
                  <li><a href="#">Configuración </a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Cerrar sesión </a></li>
                </ul>
              </li>
              <li><span class="badge">
                   
                  3</span><a href="#"><i class="icon icon-bell"></i></a></li>
              <li><a href="#">Ayuda? <i class="fa fa-caret-down"></i></a></li>
              <li class="call-to-action"><a href="#" class="btn btn-primary">Publica tu propiedad</a></li>
            </ul><a id="menu-toggle" data-target="#menu" class="menu-toggle">Menu</a>
          </div>
        </div>
      </div>
    </header>
    <nav id="menu" class="main-nav">
      <ul>
        <li><a href="#">Escritorio</a></li>
        <li class="active"><a href="#">Bandeja de entrada</a></li>
        <li><a href="#">Agenda </a></li>
        <li><a href="#">Tus propiedades </a></li>
        <li><a href="#">Tus agentes </a></li>
        <li><a href="#">Tus clientes </a></li>
        <li><a href="#">Tareas </a></li>
        <li><a href="#">Cuenta </a></li>
      </ul>
    </nav>
    <main class="content">
      <div class="mail__content">
        <div class="mail__header">
          <h2 class="mail__title">Probns Mail</h2><a href="#" class="btn mail__btn">Todos los agentes</a>
        </div>
        <div class="mail-container">
          <div class="mail-header">
            <ul class="header-buttons">
              <li><a data-toggle="tooltip" data-original-title="Send" class="tooltip-primary"><i class="fa fa-external-link"></i></a></li>
              <li><a data-toggle="tooltip" data-original-title="Attach" class="tooltip-primary"><i class="glyphicon glyphicon-paperclip"></i></a></li>
              <li><a data-toggle="tooltip" data-original-title="Cancel" class="tooltip-primary"><i class="glyphicon glyphicon-remove"></i></a></li>
              <li><a data-toggle="tooltip" data-original-title="Draft" class="tooltip-primary"><i class="glyphicon glyphicon-save"></i></a></li>
            </ul>
            <div class="draft">Last Draft Saved 1 minutes ago</div>
          </div>
          <div class="mail-body">
            <div class="mail-compose">
              <form method="post" role="form">
                <div class="form-group bordered-left-4 bordered-themeprimary">
                  <label for="to">To:</label>
                  <input id="to" type="text" tabindex="1" class="form-control">
                  <div class="field-options"><a href="javascript:;" onclick="$(this).hide(); $('#cc').parent().removeClass('hidden'); $('#cc').focus();">CC</a><a href="javascript:;" onclick="$(this).hide(); $('#bcc').parent().removeClass('hidden'); $('#bcc').focus();">BCC</a></div>
                </div>
                <div class="form-group hidden bordered-left-4 bordered-themethirdcolor">
                  <label for="cc">CC:</label>
                  <input id="cc" type="text" tabindex="2" class="form-control">
                </div>
                <div class="form-group hidden bordered-left-4 bordered-themefourthcolor">
                  <label for="bcc">BCC:</label>
                  <input id="bcc" type="text" tabindex="2" class="form-control">
                </div>
                <div class="form-group bordered-left-4 bordered-themesecondary">
                  <label for="subject">Subject:</label>
                  <input id="subject" type="text" tabindex="1" class="form-control">
                </div>
                <div class="compose-message-editor">
                  <div id="email-text"></div>
                </div>
              </form>
            </div>
          </div>
          <div class="mail-sidebar">
            <ul class="mail-menu">
              <li class="active"><a href="#"><i class="fa fa-inbox"></i><span class="badge badge-default badge-square pull-right">6</span>                      Inbox</a></li>
              <li><a href="#"><i class="fa fa-star"></i><span class="badge badge-default badge-square pull-right">1</span>                      Important</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-share"></i><span class="badge badge-default badge-square pull-right">1</span>                      Sent</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i>                      Drafts</a></li>
              <li><a href="#"><i class="fa fa-ban"></i><span class="badge badge-default badge-square pull-right">1</span>                      Spam</a></li>
              <li><a href="#"><i class="fa fa-trash-o"></i>                      Trash</a></li>
              <li class="divider"></li>
              <li><a href="#">+ Add Folder</a></li>
            </ul>
            <ul class="mail-menu">
              <li class="menu-title">
                <h6>Tags</h6>
              </li>
              <li><a href="#"><span class="badge badge-palegreen badge-tag badge-square"></span>                      Business</a></li>
              <li><a href="#"><span class="badge badge-darkorange badge-tag badge-square"></span>                      Sports</a></li>
              <li><a href="#"><span class="badge badge-yellow badge-tag badge-square"></span>                      Friends</a></li>
              <li class="divider"></li>
              <li><a href="#">+ Add Tag</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <footer class="main-footer">
      <div class="container__div">
        <nav class="footer-nav">
          <ul>
            <li><a href="#">¿Quiénes somos?</a></li>
            <li><a href="#">Términos y condiciones </a></li>
            <li><a href="#">Contáctanos </a></li>
            <li><a href="#">Blog </a></li>
            <li><a href="#">FAQ'S </a></li>
          </ul>
        </nav>
        <div class="copyright">
          <p>Probns, Inc.</p>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')
      
    </script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="assets/js/editors/summernote/summernote.js"></script>
    <script>
      $('#email-text').summernote({ height: $(window).height() - 250 });
      
    </script>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
  </body>
</html>