<div id="dashboard" class="content">
  <div class="profile__left"><img src="img/avatar.jpg" class="profile__img">
    
    <div class="profile__data">
      <div class="settings__header">
        <h3 class="settings__title">Datos generales</h3>
      </div>
      <div class="settings__content">
        <form>
          <div class="field">
            <p>Nombre de la empresa</p>
          </div>
          <div class="field">
            <p>Dirección</p>
          </div>
          <div class="half-field">
            <p>Teléfono 1</p>
          </div>
          <div class="half-field">
            <p>Teléfono 2</p>
          </div>
          <div class="field">
            <p>Correo electrónico</p>
          </div>
          <div class="field">
            <p class="desc">Escribe una descripción...</p>
          </div>
        </form>
      </div>
    </div>

    <div class="profile__listing">
      <div class="settings__header">
        <h3 class="settings__title">Propiedades</h3>
      </div>
      <div class="settings__body">
        <div class="settings__item">
          <div class="settings__item-img"><span class="ribbon sale">Venta</span><img src="img/listing.jpg"><span class="photos">
               
              8 Fotos<i class="fa fa-star"></i></span></div>
          <div class="settings__item-content-large">
            <h3><a href="#">Apartamento z.14</a></h3>
            <ul>
              <li>$400,000</li>
              <li><span>2<i class="fa fa-bed"></i></span><span>2<i class="fa fa-trash"></i></span><span>2<i class="fa fa-car"></i></span></li>
              <li>1,500 mt2</li>
              <li>2,800 v2</li>
            </ul>
            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          </div>
        </div>
        <div class="settings__item">
          <div class="settings__item-img"><span class="ribbon sale">Venta</span><img src="img/listing.jpg"><span class="photos">
               
              8 Fotos<i class="fa fa-star"></i></span></div>
          <div class="settings__item-content-large">
            <h3><a href="#">Apartamento z.14</a></h3>
            <ul>
              <li>$400,000</li>
              <li><span>2<i class="fa fa-bed"></i></span><span>2<i class="fa fa-trash"></i></span><span>2<i class="fa fa-car"></i></span></li>
              <li>1,500 mt2</li>
              <li>2,800 v2</li>
            </ul>
            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          </div>
        </div>
        <div class="settings__item">
          <div class="settings__item-img"><span class="ribbon sale">Venta</span><img src="img/listing.jpg"><span class="photos">
               
              8 Fotos<i class="fa fa-star"></i></span></div>
          <div class="settings__item-content-large">
            <h3><a href="#">Apartamento z.14</a></h3>
            <ul>
              <li>$400,000</li>
              <li><span>2<i class="fa fa-bed"></i></span><span>2<i class="fa fa-trash"></i></span><span>2<i class="fa fa-car"></i></span></li>
              <li>1,500 mt2</li>
              <li>2,800 v2</li>
            </ul>
            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          </div>
        </div>
        <div class="settings__item">
          <div class="settings__item-img"><span class="ribbon sale">Venta</span><img src="img/listing.jpg"><span class="photos">
               
              8 Fotos<i class="fa fa-star"></i></span></div>
          <div class="settings__item-content-large">
            <h3><a href="#">Apartamento z.14</a></h3>
            <ul>
              <li>$400,000</li>
              <li><span>2<i class="fa fa-bed"></i></span><span>2<i class="fa fa-trash"></i></span><span>2<i class="fa fa-car"></i></span></li>
              <li>1,500 mt2</li>
              <li>2,800 v2</li>
            </ul>
            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          </div>
        </div>
        <div class="settings__item">
          <div class="settings__item-img"><span class="ribbon sale">Venta</span><img src="img/listing.jpg"><span class="photos">
               
              8 Fotos<i class="fa fa-star"></i></span></div>
          <div class="settings__item-content-large">
            <h3><a href="#">Apartamento z.14</a></h3>
            <ul>
              <li>$400,000</li>
              <li><span>2<i class="fa fa-bed"></i></span><span>2<i class="fa fa-trash"></i></span><span>2<i class="fa fa-car"></i></span></li>
              <li>1,500 mt2</li>
              <li>2,800 v2</li>
            </ul>
            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          </div>
        </div>
        <div class="settings__item">
          <div class="settings__item-img"><span class="ribbon sale">Venta</span><img src="img/listing.jpg"><span class="photos">
               
              8 Fotos<i class="fa fa-star"></i></span></div>
          <div class="settings__item-content-large">
            <h3><a href="#">Apartamento z.14</a></h3>
            <ul>
              <li>$400,000</li>
              <li><span>2<i class="fa fa-bed"></i></span><span>2<i class="fa fa-trash"></i></span><span>2<i class="fa fa-car"></i></span></li>
              <li>1,500 mt2</li>
              <li>2,800 v2</li>
            </ul>
            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          </div>
        </div>
        <div class="pagination">
          <ul>
            <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="profile__right">
    <div class="profile__agents">
      <div class="settings__header">
        <h3 class="settings__title">Agentes</h3>
      </div>
      <div class="settings__body">
        <div class="settings__item"><img src="img/agent.jpg">
          <div class="settings__item-content">
            <h4><a href="#">Jose Robles Fernandez</a></h4>
            <p># de celular<br>Correo electrónico</p>
          </div>
        </div>
        <div class="settings__item"><img src="img/agent.jpg">
          <div class="settings__item-content">
            <h4><a href="#">Jose Robles Fernandez</a></h4>
            <p># de celular<br>Correo electrónico</p>
          </div>
        </div>
        <div class="settings__item"><img src="img/agent.jpg">
          <div class="settings__item-content">
            <h4><a href="#">Jose Robles Fernandez</a></h4>
            <p># de celular<br>Correo electrónico</p>
          </div>
        </div>
        <div class="settings__item"><img src="img/agent.jpg">
          <div class="settings__item-content">
            <h4><a href="#">Jose Robles Fernandez</a></h4>
            <p># de celular<br>Correo electrónico</p>
          </div>
        </div>
        <div class="settings__item"><img src="img/agent.jpg">
          <div class="settings__item-content">
            <h4><a href="#">Jose Robles Fernandez</a></h4>
            <p># de celular<br>Correo electrónico</p>
          </div>
        </div>
        <div class="pagination">
          <ul>
            <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="settings__header">
      <h3 class="settings__title">Desglose de propiedades</h3>
    </div>
    <div class="settings__body">
      <div class="chartcontainer">
        <canvas id="doughnut" height="250"></canvas>
      </div>
    </div>
  </div>
</div>
    