<main id="dashboard" class="content">
  <div class="dashboard__profile cols"><img src="img/avatar.jpg">
    <div class="dashboard__profile--details">
      <h3>Bienes Raices S.A</h3><a href="#">Ver perfil</a><a href="#">Editar perfil</a>
    </div>
  </div>
  <div class="dashboard__listings cols">
    <div class="table">
      <div class="col">
        <div class="heading">
          <h5>Propiedades más vistas</h5>
        </div>
        <div class="body">
          <div class="row"><a href="#"><img src="img/listing.jpg">
              <div class="listing__details">
                <h4>Apartamento z.14</h4>
                <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14  <br>Código No. 03024</p>
              </div></a></div>
          <div class="row"><a href="#"><img src="img/listing.jpg">
              <div class="listing__details">
                <h4>Apartamento z.14</h4>
                <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14  <br>Código No. 03024</p>
              </div></a></div>
          <div class="row"><a href="#"><img src="img/listing.jpg">
              <div class="listing__details">
                <h4>Apartamento z.14</h4>
                <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14  <br>Código No. 03024</p>
              </div></a></div>
          <div class="row"><a href="#"><img src="img/listing.jpg">
              <div class="listing__details">
                <h4>Apartamento z.14</h4>
                <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14  <br>Código No. 03024</p>
              </div></a></div>
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <h5>Propiedades menos vistas</h5>
        </div>
        <div class="body">
          <div class="row"><a href="#"><img src="img/listing.jpg">
              <div class="listing__details">
                <h4>Apartamento z.14</h4>
                <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14  <br>Código No. 03024</p>
              </div></a></div>
          <div class="row"><a href="#"><img src="img/listing.jpg">
              <div class="listing__details">
                <h4>Apartamento z.14</h4>
                <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14  <br>Código No. 03024</p>
              </div></a></div>
          <div class="row"><a href="#"><img src="img/listing.jpg">
              <div class="listing__details">
                <h4>Apartamento z.14</h4>
                <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14  <br>Código No. 03024</p>
              </div></a></div>
          <div class="row"><a href="#"><img src="img/listing.jpg">
              <div class="listing__details">
                <h4>Apartamento z.14</h4>
                <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14  <br>Código No. 03024</p>
              </div></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard__widget"><img src="img/widget1.png"></div>
  <div class="dashboard__widget"><img src="img/widget2.png"></div>
  <div class="dashboard__widget"><img src="img/widget3.png"></div>
  <div class="dashboard__widget"><img src="img/widget4.png"></div>
</main>

<footer class="main-footer">
  <div class="container__div">
    <nav class="footer-nav">
      <ul>
        <li><a href="#">¿Quiénes somos?</a></li>
        <li><a href="#">Términos y condiciones </a></li>
        <li><a href="#">Contáctanos </a></li>
        <li><a href="#">Blog </a></li>
        <li><a href="#">FAQ'S </a></li>
      </ul>
    </nav>
    <div class="copyright">
      <p>Probns, Inc.</p>
    </div>
  </div>
</footer>
