<div class="col-lg-12 col-sm-12 col-xs-12">

	<h3 class="row-title before-yellow">
		<i class="fa fa-th-list yellow"></i>
		Mantenimiento Empleados
	</h3>	

	<div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12">
			<div class="bordered-well-container">
				<div class="well bordered-top bordered-warning">
					<div class="clearfix" style="padding: 0">
						<button class="btn btn-default btn-md margin-bottom-20 clearfix" 
								ng-click="openModal('nuevo')">
							<i class="fa fa-plus-circle"></i> Agregar nuevo registro
						</button>
					</div>
					<div ng-show="listItems.length>0" class="table-scrollable">
						<table class="table table-striped">
							<thead>
								<th>Nombre</th>
								<th>Tel&eacute;fono</th>
								<th>Tipo Empleado</th>
								<th>Pa&iacute;s</th>
								<th>Sede</th>
								<th>Acciones</th>
							</thead>
							<tbody>
								<tr ng-repeat="item in listItems.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
									<td>
										<estado-empleado estado="item.estadoEmpleado.descripcion">
										</estado-empleado>

										{{item.nombre}} {{item.apellido}}
									</td>
									<td>{{item.telefono}}</td>
									<td>{{item.tipoEmpleado.descripcion}}</td>
									<td>{{item.Pai.descripcion}}</td>
									<td>{{item.Sede.descripcion}}</td>
									<td>
										<button class="btn btn-primary" ng-click="openModal('edit', item)">
											<i class="fa fa-edit"></i>Editar</button>
										<button class="btn btn-danger" ng-click="delete(item)">
											<i class="fa fa-times"></i>Eliminar</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row margin-top-5">
							<div class="col-lg-6 col-sm-6 col-xs-6">
								Ver <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
									<option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option>
								</select> registros por p&aacute;gina.
							</div>
							<div class="col-lg-6 col-sm-6 col-xs-6 text-align-right margin-top-5">
								Total de Registros: {{totalItems}} 
							</div>
						</div>

	    				<pagination total-items="totalItems" ng-model="currentPage" 
	    							class="pagination-sm" 
	    							items-per-page="itemsPerPage">
	    				</pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="crudForm.html">
	<div class="modal-header">
	  <h3 class="modal-title blue"></i>{{title}}</h3>
	</div>
	<div class="modal-body">
	<form role="form">

		<div class="form-group">
			<span class="input-icon icon-right inverted">
			  <input ng-model="nombre" type="text" class="form-control" placeholder="Nombre Empleado">
			  <i class="fa fa-user bg-warning"></i>
			</span>
		</div>

		<div class="form-group">
			<span class="input-icon icon-right inverted">
			  <input ng-model="apellido" type="text" class="form-control" placeholder="Apellido Empleado">
			  <i class="fa fa-user bg-warning"></i>
			</span>
		</div>

		<div class="form-group">
			<span class="input-icon icon-right inverted">
			  <input ng-model="telefono" type="text" class="form-control" placeholder="Telefono Empleado">
			  <i class="fa fa-phone bg-warning"></i>
			</span>
		</div>

		<div class="form-group">
			<span class="input-icon icon-right inverted">
			  <input ng-model="direccion" type="text" class="form-control" placeholder="Direccion Empleado">
			  <i class="fa fa-map-marker bg-warning"></i>
			</span>
		</div>

		<div class="form-group">
			<span class="input-icon icon-right inverted">
				<input ng-model="fechaNacimiento" id="fechaNacimiento" 
					     type="text" class="form-control" data-mask="99-99-9999"
					     placeholder="Fecha Nacimiento (DD-MM-YYYY)">
				<i class="glyphicon glyphicon-calendar bg-warning"></i>
			</span>
			<!--p class="input-group">
				<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" 
				       ng-model="fechaNacimiento" is-open="opened" 
				       close-text="Close" placeholder="Fecha Nacimiento (dd/MM/yyyy)"/>
				<span class="input-group-btn">
            		<button type="button" class="btn btn-primary" ng-click="openCalendar($event)">
            			<i class="glyphicon glyphicon-calendar"></i>
            		</button>
            	</span>
			  
			</p-->
		</div>

		<div class="form-group clearfix">
	    	<select ng-model="tipoEmpleadoId" name="cmbTipoEquipo" class="col-sm-12"
	      	id="cmbTipoEquipo" ng-options="tipo.id as tipo.descripcion for tipo in listTipoEmpleado">
	      		<option value="">Tipo Empleado</option>
	    	</select>
	  	</div>

		<div class="form-group clearfix">
	    	<select ng-model="PaiId" name="cmbPais" class="col-sm-12" ng-change="getSedesPais(PaiId);"
	      	id="cmbPais" ng-options="pais.id as pais.descripcion for pais in listPaises">
	      		<option value="">Pais sede</option>
	    	</select>
	  	</div>		

	  	<div class="form-group clearfix">
	    	<select ng-model="SedeId" name="cmbTipoAlquiler" class="col-sm-12"
	      	id="cmbTipoAlquiler" ng-options="sede.id as sede.descripcion for sede in listSedes">
	      		<option value="">Sede Empleado</option>
	    	</select>
	  	</div>	  			

	</form>
	<alert type="danger" class="radius-bordered alert-shadowed" ng-show="formError">
	    {{formError}}
	</alert>
	</div>
	<div class="modal-footer">
		<button class="btn btn-blue" ng-click="postRegistro()">
			<i class="fa fa-floppy-o"></i> {{textButton}}
		</button>
	  	<button class="btn btn-danger" ng-click="cancel($event)">
	  		<i class="fa fa-times"></i>Cancelar
	  	</button>
	</div>
</script>

<script type="text/ng-template" id="deleteRegistro.html">
	<div class="modal-header">
	  <h3 class="modal-title blue"></i>Eliminar Registro</h3>
	</div>
	<div class="modal-body">
	<form role="form">
		<div class="form-group">
			<h3 class="text-info">
				¿Seguro que desea eliminar este registro? - <strong> {{registro.nombre}} {{registro.apellido}} </strong>
			</h3>
		</div>
	</form>
	<alert type="danger" class="radius-bordered alert-shadowed" ng-show="formError">
	    {{formError}}
	</alert>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="deleteRegistro()">
			<i class="fa fa-trash"></i> Eliminar
		</button>
	  	<button class="btn btn-danger" ng-click="cancel()">
	  		<i class="fa fa-times"></i>Cancelar
	  	</button>
	</div>
</script>
