<div class="navbar-inner" ng-controller='userController'>
    <div class="navbar-container">
        <!-- Navbar Barnd -->
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <img src="assets/img/logo.png" alt="Alquitrack S.A." title="Alquitrack S.A."/>
                    <!-- <img src="assets/img/logo-rtl.png" ng-if="settings.rtl" alt="" /> -->
                </small>
            </a>
        </div>
        <!-- /Navbar Barnd -->
        <!-- Sidebar Collapse -->
        <div class="sidebar-collapse"></div>
        <!-- /Sidebar Collapse -->
        <!-- Account Area and Settings -->
        <div class="navbar-header pull-right">
            <div class="navbar-account">
                <ul class="account-area">
                    <li>
                        <a class="login-area dropdown-toggle" data-toggle="dropdown">
                            <div class="avatar" title="View your public profile">
                                <img src="{{datosGenerales.fotografia}}">
                            </div>
                            <section>
                                <h2><span class="profile"><span>{{datosGenerales.nombre}} {{datosGenerales.apellido}} </span></span></h2>
                            </section>
                        </a>
                    </li>
                    <li>    
                        <a class="login-area" ng-click="signOut();" style="cursor:pointer">
                            <i class='fa fa-sign-out darkorange'></i>
                            <span class="darkorange">Cerrar Sesi&oacute;n</span> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /Account Area and Settings -->
    </div>
</div>