<section class="row padding-20">
  <div class="col-sm-12 background-grey padding-20" ng-controller="propertyStepOneController">
    <div class="horizontal-form" >
      <form class="form-horizontal" role="form">
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Tipo de propiedad</label>
          <div class="col-sm-7">
            <div data-toggle="buttons" class="property__btns">
              <label class="btn btn-default" ng-repeat="tipo in tiposInmueble" ng-click="setTipoInmueble(tipo.id);">
                <input  type="radio" name="tipoInmueble"  
                       ng-model="$parent.descripcion" value="{{tipo.id}}"> {{tipo.descripcion}}
              </label>               
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Que quieres hacer?</label>
          <div class="col-sm-7">
            <div data-toggle="buttons" class="property__btns">
              <label class="btn btn-default" ng-repeat="operacion in operacionesInmueble" ng-click="setOperacionInmueble(operacion.id);">
                <input  type="radio" name="operacionInmueble"  
                       ng-model="$parent.descripcion" value="{{operacion.id}}"> {{operacion.descripcion}}
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Pa&iacute;s</label>
          <div class="col-sm-7">
            <select ng-model="paises[$index]" name="cmbPais" ng-change="getDepartamentos(paises[$index]);"
                    class="col-sm-12"
                    id="cmbPais" ng-options="pais.id as pais.descripcion for pais in paises">
                <option value="">Seleccione...</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Departamento </label>
          <div class="col-sm-7">
            <select ng-model="departamentos[$index]" name="cmbDepartamento" 
                    ng-change="getMunicipios(departamentos[$index]);" class="col-sm-12"
                    id="cmbDepartamento" ng-options="depto.id as depto.descripcion for depto in departamentos">
                <option value="">Seleccione...</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Municipio </label>
          <div class="col-sm-7">
            <select ng-model="municipios[$index]" name="cmbMunicipio" 
                    ng-change="setMunicipio(municipios[$index]); "
                    class="col-sm-12"
                    id="cmbMunicipio" ng-options="municipio.id as municipio.descripcion for municipio in municipios">
                <option value="">Seleccione...</option>
            </select>
          </div>
        </div> 

      </form>
    </div>
  </div>
  
</section>