<div ng-controller="rolesController">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li ui-sref-active="active">
            <a ui-sref="app.dashboard">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>
        </li>
        <!-- Mantenimientos de Configuracion -->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-th-list"></i>
                <span class="menu-text">Configuraciones</span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li ui-sref-active="active">
                    <a ui-sref="app.paises">
                        <span class="menu-text">Pa&iacute;ses</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.sedes">
                        <span class="menu-text">Sedes</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.monedas">
                        <span class="menu-text">Monedas</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.tipoAlquiler">
                        <span class="menu-text">Tipos de Alquiler</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.tipoEquipo">
                        <span class="menu-text">Tipos de Tractor</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.precioEquipo">
                        <span class="menu-text">Precios Alquiler Tractor</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.correlativosFactura">
                        <span class="menu-text">Correlativos Facturas</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Personal -->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text">Personal</span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li ui-sref-active="active">
                    <a ui-sref="app.empleados">
                        <span class="menu-text">Empleados</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.usuarios">
                        <span class="menu-text">Usuarios</span>
                    </a>
                </li>
                <!-- <li ui-sref-active="active">
                    <a ui-sref="app.vendedores">
                        <span class="menu-text">Vendedores</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.cobradores">
                        <span class="menu-text">Cobradores</span>
                    </a>
                </li> -->
            </ul>
        </li>

        <!-- Facturacion -->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-calculator"></i>
                <span class="menu-text">Operaciones</span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li ui-sref-active="active">
                    <a ui-sref="app.clientes">
                        <span class="menu-text">Clientes</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.tractores">
                        <span class="menu-text">Tractores</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Pedidos
                        </span>
                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref="app.verPedidos">
                                <i class="menu-icon fa fa-shopping-cart"></i>
                                <span class="menu-text">Ver Pedidos</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.pedidos">
                                <i class="menu-icon fa fa-cart-plus"></i>
                                <span class="menu-text">Crear Pedido</span>
                            </a>
                        </li>
                    </ul>                    
                </li>

                <li>
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Facturaci&oacute;n
                        </span>
                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref="app.facturacion">
                                <span class="menu-text">Generar Factura</span>
                            </a>
                        </li>

                        <li  ui-sref-active="active">
                            <a ui-sref="app.verFacturas">
                                <span class="menu-text">ver Facturas</span>
                            </a>
                        </li>

                        <!-- <li ui-sref-active="active">
                            <a ui-sref="app.payprotection">
                                <span class="menu-text">Contrase&ntilde;as de Pago</span>
                            </a>
                        </li> -->
                        
                    </ul>                    
                </li>
            </ul>
        </li>
        <!-- Cobros y Pagos -->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-money"></i>
                <span class="menu-text">Cobros y Pagos</span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li ui-sref-active="active">
                    <a ui-sref="app.cobradores">
                        <span class="menu-text">Cobradores</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.rutasCobro">
                        <span class="menu-text">Rutas de Cobro</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.recibos">
                        <span class="menu-text">Recibos Generados</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.estadosCuenta">
                        <span class="menu-text">Estados de Cuenta</span>
                    </a>
                </li>
            </ul>
        </li>

        <li ui-sref-active="active">
            <a ui-sref="app.propiedades">
                <i class="menu-icon fa fa-file-text"></i>
                <span class="menu-text"> Reportes </span>
            </a>
        </li>

    </ul>
</div>
    
