<div class="content">
  <div class="panel" ng-controller="listingsController">
    <div class="panel__header">
      <div class="panel__form">
        <input type="text">
        <input type="submit" value="Buscar">
      </div>
      <h1 class="panel__title">Tu listado de propiedades</h1>
      <div class="panel__btns">
        <a ui-sref="app.nuevaPropiedad">
          <span>Agregar propiedad </span><i class="fa fa-plus-circle"></i>
        </a>
      </div>
    </div>
    <div class="panel__content">

      <div class="listings__item" ng-repeat="propiedad in listadoPropiedades">
        <span class="ribbon {{propiedad.operacionInmueble.descripcion | lowercase}}">{{propiedad.operacionInmueble.descripcion}}</span>
        <img src="{{propiedad.imagenInmuebles[0].path}}">
        <div class="listings__item-content sale">
          <h2><a href="#">{{propiedad.direccionCorta}}</a></h2>
          <p>
            <strong>{{propiedad.Municipio.descripcion}}, {{propiedad.Departamento.descripcion}}</strong>
            <br>{{propiedad.direccion}}
          </p>
        </div>
        <div class="listings__item-price">
          <p><strong>{{propiedad.precioPropiedad | currency:"USD$"}}</strong>{{propiedad.comisionCompartida}}%<br>Compartida</p>
        </div>
        <a href="#" class="btn btn-palegreen btn-big">Editar tu propiedad</a>
        <a href="#" class="remove"><i class="fa fa-times"></i></a>
        <!-- <div class="listings__item-details">
          <ul role="tablist" class="tablist">
            <li class="active"><a href="#home-1" data-toggle="tab" role="tab">Analisis</a></li>
            <li><a href="#profile-1" data-toggle="tab" role="tab">Ver agenda</a></li>
          </ul>
          <div class="tab-content tabcontent">
            <div id="home-1" class="tab-pane active fade in">
              <ul role="tablist" class="tabpills">
                <li class="active"><a href="#data1-1" data-toggle="tab" role="tab"><i class="fa fa-home"> </i> # de visitas</a></li>
                <li><a href="#data2-1" data-toggle="tab" role="tab"><i class="fa fa-envelope-o"></i> # de mensajes</a></li>
              </ul>
              <div class="tab-content tabpill">
                <div id="data1-1" class="tab-pane active fade in"><img src="img/graph1.png"></div>
                <div id="data2-1" class="tab-pane fade"><img src="img/graph2.png"></div>
              </div>
            </div>
            <div id="profile-1" class="tab-pane fade">
              <div class="calendar"></div>
            </div>
          </div>
        </div> -->
        <i class="arrow"></i>
      </div>

    </div>
  </div>
  <!-- <div class="pagination">
    <ul>
      <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
      <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
      <li><a>1</a></li>
      <li><a>2</a></li>
      <li><a>3</a></li>
      <li><a>4</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
      <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
  </div> -->
</div>